# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Visual Studio 임시 파일 및 설정
.vs/
[Dd]ebug/
[Rr]elease/
*.user
*.aps
*.pdb

# 빌드 결과물
*.exe
*.obj
*.log

# DB 임시 파일 (작성하신 코드에서 생성되는 파일들)
best.txt
rank.txt